In [1]:
import pandas as pd
import seaborn as sns
import json
import os
import glob
import numpy as np

In [2]:
folder_path = "./data/"
df_new = pd.DataFrame()

all_files = glob.glob(folder_path + "/*.csv")

li = []

for filename in all_files:
    df = pd.read_csv(filename, index_col=None, header=0)
    li.append(df)
df_new_외국인_업종 = pd.concat(li, axis=0, ignore_index=True)

In [3]:
df_new_외국인_업종.head()

      기준년월  시도명      시군구명     국적명         업종분류명     사용금액
0  2015-01  경기도  고양시 일산서구      홍콩        유통.편의점    40950
1  2015-01  경기도       오산시      영국   요식/유흥.커피전문점    14500
2  2015-01  경기도       광명시      몽고       유통.생활잡화  2740000
3  2015-01  경기도   성남시 중원구  아제르바이잔  의류/잡화.남.여기성복  1429800
4  2015-01  경기도   성남시 분당구     캐나다      요식/유흥.한식  5336500

> 시군구명

In [4]:
b = []
for name in list(df_new_외국인_업종.시군구명):
    b.append(name.split()[0])
b[0]

'고양시'

In [5]:
df_new_외국인_업종['시군구명_new'] = [name.split()[0] for name in list(df_new_외국인_업종.시군구명)]
df_new_외국인_업종.head(1)

      기준년월  시도명      시군구명 국적명   업종분류명   사용금액 시군구명_new
0  2015-01  경기도  고양시 일산서구  홍콩  유통.편의점  40950      고양시

>업종대분류,소분류

In [ ]:
# 의류/잡화.남.여기성복

In [6]:
list(df_new_외국인_업종.업종분류명)[4]

'요식/유흥.한식'

In [8]:
a = []
for name in list(df_new_외국인_업종.업종분류명):
    a.append(name.split(".")[1])
a[4]

'한식'

In [9]:
df_new_외국인_업종['업종대분류'] = [name.split(".")[0] for name in list(df_new_외국인_업종.업종분류명)]
df_new_외국인_업종['업종소분류'] = [name.split(".")[1] for name in list(df_new_외국인_업종.업종분류명)]
df_new_외국인_업종.head(5)

,기준년월,시도명,시군구명,국적명,업종분류명,사용금액,시군구명_new,업종대분류,업종소분류
0,2015-01,경기도,고양시 일산서구,홍콩,유통.편의점,40950,고양시,유통,편의점
1,2015-01,경기도,오산시,영국,요식/유흥.커피전문점,14500,오산시,요식/유흥,커피전문점
2,2015-01,경기도,광명시,몽고,유통.생활잡화,2740000,광명시,유통,생활잡화
3,2015-01,경기도,성남시 중원구,아제르바이잔,의류/잡화.남.여기성복,1429800,성남시,의류/잡화,남
4,2015-01,경기도,성남시 분당구,캐나다,요식/유흥.한식,5336500,성남시,요식/유흥,한식

In [10]:
list(df_new_외국인_업종.업종분류명)[3].split(".")

['의류/잡화', '남', '여기성복']

In [ ]:
# np.where(조건, 참인 경우 값, 거짓인 경우 값)
# df_new_외국인_업종['업종소분류']의 값이 "남"인 경우에는 "남/여기성복"으로 값을 바꾸고, 그 외의 경우에는 원래의 값 그대로를 반환

In [ ]:
df_new_외국인_업종['업종소분류'] = np.where(df_new_외국인_업종['업종소분류'] == '남', "남/여기성복", df_new_외국인_업종['업종소분류'])