In [2]:
import pandas as pd
import numpy as np
import matplotlib as mpl
import matplotlib.pyplot as plt
import seaborn as sns
import wordcloud
import bar_chart_race as bcr
import warnings
warnings.filterwarnings("ignore")

In [5]:
data = pd.read_csv('./data/ky_yngbgs_worry_rank_info_202012.csv')
data.head()

   sn  base_ym  search_rank_nm srchwrd_nm  views_co  pt_value
0   1   201901               1         친구        69     24.21
1   2   201901               2         전학        20      7.02
2   3   201901               3         공부        15      5.26
3   4   201901               4        숨쉬기        13      4.56
4   5   201901               5         학원        11      3.86

In [ ]:
# base_ym : 기준연월
# search_rank_nm : 검색순위명
# srchwrd_nm : 키워드
# viewss_co : 조회수

In [9]:
# 데이터의 전체 기간
st, ed = data['base_ym'].min(), data['base_ym'].max()
print(f"{st}부터 {ed}까지 수집한 데이터 입니다.")

# 고민 전체 조회수
total_views = data['views_co'].sum()
print(f"총 조회수는 {total_views}회입니다.")

201901부터 202011까지 수집한 데이터 입니다.
총 조회수는 8158회입니다.